* {
    font-family: 'Courier New', monospace;
}

div {
    border-style:ridge;
    background-color: lightyellow;
    border-radius: 40px;
    padding: 20px;
}

h1 {
    font-size: 64px;
    text-align: center;
}

img {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

p {
    text-align: center;
}

.ingredient {
    background-color: lightgreen;
    border-radius: 10px;
}

.step {
    background-color: pink;
    border-radius: 10px;
}