* {
    font-family: 'Courier New', monospace;
}

div {
    border-style:ridge;
    border-radius: 40px;
    background-color: chocolate;
}

h1 {
    font-size: 128px;
}

.recipe{
    font-size: 64px;
}